*{
    margin: 0;
}
.am{
    background-color: brown;
}
.banner {
    background: #FFF8F3;
    background-image: url(images/banner/banner3.png);
    background-repeat: no-repeat;
    height: 750px;
}
.text{
    text-align: right;
}
.A{
    padding: 250px 50px 25px 700px;
    color: #FFF;
    font-size: 55px;
    font-weight: 700;
}
.B{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 50px 25px 840px;

}
.btn{
    background: #FFF;
    padding-left: 900px;
    margin-right: 50px;
    height: 65px;
    color: #005FAC;
    border: 0;
    border-radius: 5PX;
    padding: 18px 25px;
    font-size: 20px;
    font-weight: 700;
}
.meye {
    display: flex;
    gap: 70px;
    padding: 150px 130px 5px 110px;
    margin-bottom: 30px;
}
.X{
    color: var(--Dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
    padding-top: 130px;
}
.Y{
    color: var(--Dark-02, #444343);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-top: 20px;
    
}
.M{
    padding-top: 70px;
    color: var(--Dark-01, #151414);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.plan{
    display: flex;
    gap: 55px;
    text-align: center;
    margin: 40px 150px 100px 200px;
}
.a{
    color: var(--Dark-01, #151414);
    text-align: center;
    font-size: 30px;
    font-weight: 700;

}
.b{
    color: var(--Dark-03, #737272);
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
.last{
    background-image: url(images/watch.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    margin-left: 150px;
    margin-right: 190px;   
    width: 960px;
    border-radius: 8px;
}
.o{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 450px;
    margin-bottom: 25px;   
}
.j{
    padding-left: 50px;
}
.black{
    background: var(--Dark-01, #151414);
    height: 500px;
    width: 1300px;
    padding-right: 300px;
}
.AA{
    display: flex;
}
.F{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    padding-top: 100px;
    padding-left: 180px;
    margin-bottom: 20px;
}
.G{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-left: 180px;
    padding-right: 550px;
}
.H{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-left: 180px;
    padding-right: 550px;
    margin-top: 25px;
}
.I{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-left: 180px;
    padding-right: 350px;
    margin: 25px 0px;
}
.logo{
    padding-left: 180px;
    gap: 25px;
    display: flex;
    height: 40px;


}

.S{
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    padding-top: 100px;
    margin-right: 150px;

    
}
.EE{
    border-radius: 8px;
    border: 1px solid #FFF;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background: var(--Dark-01, #151414);
}
.bt{
    
    height: 65px;
    padding: 18px 25px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #005FAC;
}



 
